/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #265e26;;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*MEYER*/
*{box-sizing: border-box; margin: 0 auto; padding: 0 0; text-align: center;}
h1{
    font-size: 67.2137px;
    color: red;
    background-color: green;
}

nav {
    width: 100vw;
    height: 2cm;
    background: linear-gradient(0deg,#4dc24d, #265e26);
    position: fixed;
    z-index: 0;

    /* Flexbox for alignment */
    display: flex;
    align-items: center; 
    padding-left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1cm;
	margin-top: 0.5cm;
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #3f943f;

    padding: 5px;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a:hover {
    background-color: #265e26;
}

main{
	padding-top: 2cm;
	background-color: rgb(231, 231, 231);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#kolumny {
	display: flex;
}
#pudelko{
	background-color: red;
}

#kolumnasrodkowa{
	background-color: pink;
	width: 100%;
}














#overlay1, #overlay2, #overlay3 {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	pointer-events: none;
}
#overlay1 {
	background-color: #c9ffc9;
}
#overlay2 {
	background-color: #3f943f;
}
#overlay3 {
	background-color: #265e26;
}

#overlay1.expand{
	animation: expand 0.16s forwards;
	pointer-events: all;
}
#overlay2.expand{
	animation: expand 0.32s forwards;
	pointer-events: all;
}
#overlay3.expand {
	animation: expand 0.5s forwards;
	pointer-events: all;
}
@keyframes expand {
	from {height: 0; bottom: 0;}
	to {height: 100%; bottom: 0;}
}

#overlay1.retract{
	animation: retract 1s forwards;
	pointer-events: all;
}
#overlay2.retract{
	animation: retract 0.66s forwards;
	pointer-events: all;
}
#overlay3.retract {
	animation: retract 0.33s forwards;
	pointer-events: all;
}

@keyframes retract {
	from {height: 100%; top: 0;}
	to {height: 0; top: 0;}
}